<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Burger Tracker</title>
	</head>
	<body>
		{{{ body }}}
	</body>
	
	<script src="./burger.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</html>